<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790197587811-c10f6e3fi4v4sima9b90bsida8d8rlp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790197587811-c10f6e3fi4v4sima9b90bsida8d8rlp6</string>
	<key>API_KEY</key>
	<string>AIzaSyACqKmJoYX8V1JoxRKxjIB5kOFTlhuVfUo</string>
	<key>GCM_SENDER_ID</key>
	<string>790197587811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drogonov.brewly</string>
	<key>PROJECT_ID</key>
	<string>brewly-bac38</string>
	<key>STORAGE_BUCKET</key>
	<string>brewly-bac38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:790197587811:ios:29651d2fccdced5c0f4d56</string>
</dict>
</plist>
